@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    height: 100vh;

    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        background: white;
        border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(251 146 60);
        border-radius: 100px;
        border: 3px solid white;
    }
}

.app {
    width: 100vw;
    min-height: 100vh;
    position: fixed;
    display: flex;
    justify-content: center;
    padding: 120px 24px 160px 24px;
    pointer-events: none;
}

.app:before {
    background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
    position: absolute;
    content: "";
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0;
}

.app:after {
    content: "";
    background-image: url("/assets/images/grid.svg");
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0.4;
    filter: invert(1);

    &:focus {
        outline: none !important;
    }
}

.gradient {
    z-index: 3;
    max-width: 640px;
    background-image: radial-gradient(
            at 27% 37%,
            hsla(215, 98%, 61%, 1) 0px,
            transparent 0%
    ),
    radial-gradient(at 97% 21%, hsla(125, 98%, 72%, 1) 0px, transparent 50%),
    radial-gradient(at 52% 99%, hsla(354, 98%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 29%, hsla(256, 96%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 97% 96%, hsla(38, 60%, 74%, 1) 0px, transparent 50%),
    radial-gradient(at 33% 50%, hsla(222, 67%, 73%, 1) 0px, transparent 50%),
    radial-gradient(at 79% 53%, hsla(343, 68%, 79%, 1) 0px, transparent 50%);
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    filter: blur(100px) saturate(150%);
    top: 80px;
    opacity: 0.15;
}

@media screen and (max-width: 640px) {
    .app {
        padding: 0;
    }
}

.header {
    @apply relative z-10 flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6 font-inter;
}

.main {
    @apply relative flex items-center flex-col max-w-7xl mx-auto sm:px-16 px-6 font-inter;
}

.head_text {
    @apply text-4xl leading-[1.15] text-gray-900 text-center sm:text-6xl;
}

.orange_gradient {
    @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}

.text {
    @apply text-gray-900 text-lg
}

.rule {
    @apply text-gray-900 text-justify font-medium rounded-lg p-2 shadow-lg bg-orange-200
}

.rule_text_header {
    @apply text-gray-900 text-xl font-semibold
}

.rule_text_note {
    @apply text-gray-900 text-justify italic font-satoshi block font-normal
}

.blueprint_text_header {
    @apply text-gray-900 text-2xl font-semibold text-center
}

.blueprint_name {
    @apply text-gray-900 text-lg font-semibold
}

.blueprint_image {
    @apply h-72 w-[203px] rounded-md overflow-clip shadow-xl border-[1px] border-gray-400
}

.blueprint_card {
    @apply hover:scale-105 transition-transform duration-200 ease-in-out flex-col items-center gap-2 flex ml-3 mr-3
}

.blueprint_card:hover>div {
    @apply shadow-2xl
}

.selected_blueprint_card {
    @apply scale-105 transition-transform flex flex-col items-center gap-2
}

.selected_blueprint_card>div  {
    @apply shadow-2xl shadow-orange-300
}

.selected_blueprint_card:hover>div  {
    @apply shadow-orange-300
}

.btn {
    outline: none !important;

    @apply py-1 px-5 rounded-full bg-orange-500 shadow-2xl transition ease-in-out duration-200
    flex justify-center items-center cursor-pointer text-xl min-w-20 font-semibold text-gray-900
    hover:shadow-xl hover:translate-y-0.5 hover:text-white outline-0 sm:text-2xl sm:min-w-32 sm:py-2
    focus:outline-0
}

.btn_small {
    outline: none !important;

    @apply py-1 px-6 rounded-full bg-orange-500 shadow-2xl transition ease-in-out duration-200
    flex justify-center items-center cursor-pointer font-semibold text-gray-900
    enabled:hover:shadow-xl enabled:hover:translate-y-0.5 hover:text-white
    disabled:bg-gray-300 disabled:text-gray-400 outline-0 focus:outline-0
}

.dice {
    @apply mx-auto grid gap-10 sm:h-60 lg:gap-x-16;
}

.die {
    @apply flex justify-center items-center w-20 h-20 sm:w-24 sm:h-24 border-[1px] border-gray-400 rounded-2xl shadow-lg relative
}

.objective_card {
    @apply shadow-2xl transition-transform cursor-pointer relative rounded-2xl overflow-clip
    w-[272px] h-auto sm:w-[234px] md:w-[272px]
}

.objective_description {
    @apply w-[272px] h-full absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2
    transition-transform duration-500 rounded-2xl bg-orange-300 p-4 sm:text-sm md:text-base sm:w-[234px] md:w-[272px]
}

.objective_card:hover>div {
    @apply scale-100
}

.blueprint_remainder_show {
    @apply -translate-x-[147px] md:-translate-x-[203px]
}

.light_blue {
    @apply text-blue-400
}

.dark_blue {
    @apply text-blue-800
}

.light_red {
    @apply text-orange-400
}

.dark_red {
    @apply text-orange-800
}

.modal {
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-track {
        margin-top: 10px;
        margin-bottom: 10px;
        background: rgb(251 146 60);
        border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(154 52 18);
        border-radius: 100px;
        border: 3px solid rgb(251 146 60);
    }

    @apply fixed z-10 rounded-xl backdrop:bg-gray-800/20 p-4 md:p-8 shadow-lg transition-transform duration-300 ease-in-out
}

.loader {
    @apply fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-16 h-16 flex justify-center items-center
}

.base_die {
    @apply bg-white
}

.lakes_die {
    @apply bg-blue-200
}

.rivers_die {
    @apply bg-blue-800
}

.volcano_die {
    @apply bg-orange-400
}

.meteors_die {
    @apply bg-orange-800
}
